---
interface Props {
  timeblocks: string[];
}

const { timeblocks } = Astro.props;
---

{
  timeblocks.map((block) => {
    return (
      <>
        <li>
          {block}
        </li>
      </>
    );
  })
}