---
import logoLight from '~/assets/favicons/WIB_Logo.svg?url';
import logoDark from '~/assets/favicons/WIB_Logo_dark.svg?url';
---

<span class="self-center ml-2 rtl:ml-0 rtl:mr-2 whitespace-nowrap">
  <img
    class="block dark:hidden h-20 w-auto"
    src={logoLight}
    decoding="async"
    loading="eager"
    alt="Boston Women in Bioinformatics"
  />
  <img
    class="hidden dark:block h-20 w-auto"
    src={logoDark}
    decoding="async"
    loading="eager"
    alt="Boston Women in Bioinformatics"
  />
</span>
