---
interface Props {
  url?: string;
  data_luma_event_id?: string;
}

const { url, data_luma_event_id } = Astro.props;
const defaultUrl = 'https://luma.com/bwib';
const isDefault = !url;
const finalUrl = url ?? defaultUrl;
const buttonText = isDefault ? 'Link coming soon — click to subscribe to our calendar' : 'Sign Up';
---

{
  data_luma_event_id ? (
    <>
      <center class="mt-8">
        <a
          href={finalUrl}
          class="text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:focus:ring-blue-800"
          data-luma-action="checkout"
          data-luma-event-id={data_luma_event_id}
        >
          Register for Event
        </a>
      </center>
      <script id="luma-checkout" src="https://embed.lu.ma/checkout-button.js" />
    </>
  ) : (
    <center>
      <button
        type="button"
        class="text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:focus:ring-blue-800"
      >
        <a href={finalUrl}>{buttonText}</a>
      </button>
    </center>
  )
}
